<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InterFaceTest">
	<test verbose="2" preserve-order="true" name="InterFaceTest">
		<classes>
			<class name="cn.wemart.usermng.ShopLogin">
				<methods>
					<include name="shopLoginTest"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite>