<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InterFaceTest">
	<test verbose="2" preserve-order="true" name="InterFaceTest">
		<classes>
			<class name="cn.wemart.executeTest.ExecuteTest">
				<methods>
					<include name="GetMenuList"></include>
				</methods>
			</class>
		</classes>
	</test>
	<listeners>
		<listener class-name="com.TestNG.AssertionListener" />
	</listeners>
</suite>